*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

/* COLOR PALETTE */
:root{
    --float-namepage: #e53170;
    --float-link: #67c2e6;
    --float-bgprofile: #0f0e17;
}

/* Utility */
header {
    color: var(--float-namepage);
    padding: 2rem;
}

.container, header {
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
}

/* Leanding page */
.container > p {
    margin-bottom: 1.75rem;
}

/* Debug */
.debug .col {
    height: 100px;
    background-color: var(--float-bgprofile);
    border: 3px solid blue;
}

/* Float */
.columns .col{
    margin: 10px;
    float: left;
    width: calc(100% / 3 - 20px)
}