*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* COLOR PALETTE */
:root{
    --float-namepage: #e53170;
    --float-link: #67c2e6;
    --float-bgprofile: #0f0e17;
    --float-boxshadow: #cdcdcc;
}

/* Utility */
header {
    color: var(--float-namepage);
    padding: 2rem;
    text-align: center;
}

.container, header {
    max-width: 1170px;
    margin: 0 auto;
}

/* Leanding page */
.container > p {
    margin-bottom: 1.75rem;
    text-align: center;
}

.col {
    color: white;
    background-color: var(--float-bgprofile);
    box-shadow: 0 0 4px 7px var(--float-boxshadow);
}

/* Float */
.columns .col{
    margin: 10px;
    float: left;
    width: calc(100% / 3 - 20px)
}

.col img {
height: 100px;
float: left;
}

/* Clearfix */
.columns::after {
    content: '';
    display: table;
    clear: both;
}

span, a{
    float: left;
    width: calc(100% - 100px);
    line-height: 2.3;
    padding-left: 1rem;
}

.name {
    font-weight: 900;
}

[href^="mailto:"] {
    color: var(--float-link);
    text-decoration: none;
}

.profession, a{
    font-weight: 100;
    font-size: 0.8rem;
}

